@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url(../fonts/opensans/opensans.woff2) format("woff2"), url(../fonts/opensans/opensans.woff) format("woff"), url(../fonts/opensans/opensans.ttf) format("truetype");
  font-style: "normal";
  font-display: fallback;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSansBold"), url(../fonts/opensansbold/opensansbold.woff2) format("woff2"), url(../fonts/opensansbold/opensansbold.woff) format("woff"), url(../fonts/opensansbold/opensansbold.ttf) format("truetype");
  font-style: "normal";
  font-display: fallback;
  font-weight: 700;
}

.icon-pin {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px 0px;
  width: 50px;
  height: 48px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

html,
body,
ul,
ol,
li,
dd,
form,
fieldset,
legend,
figure,
button {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
pre,
blockquote {
  margin: 0;
  font: inherit;
}

button,
fieldset,
img {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

input,
select {
  outline: none;
}

/* ================================== */
*,
*:before,
*:after {
  outline: 1px dashed rgba(255, 0, 0, 0.6);
}

body {
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #cdcdcf;
  text-align: left;
  background-color: #191c24;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a {
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #cdcdcf;
  text-align: left;
}

/* ================================== */
.hidden:not(:focus):not(:active),
input[type="checkbox"].hidden,
input[type="radio"].hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

:root {
  --side_pads: 20px;
  --gutter: 10px;
  --cols: 12;
}

@media screen and (min-width: 600px) {
  :root {
    --gutter: 15px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --side_pads: 25px;
    --gutter: 20px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --side_pads: calc(25px + 120 * (100vw - 1024px) / 416);
    --gutter: 30px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --side_pads: 145px;
  }
}

.grid-system::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  max-width: 1440px;
  margin: 0 auto;
  pointer-events: none;
  --color: rgb(255 0 0 / 0.075);
  --col_width: calc((100% - var(--gutter) * var(--cols)) / var(--cols));
  background-image: repeating-linear-gradient(to right, transparent 0, transparent calc(var(--gutter) / 2), var(--color) calc(var(--gutter) / 2), var(--color) calc(var(--col_width) + var(--gutter) / 2), transparent calc(var(--col_width) + var(--gutter) / 2), transparent calc(var(--col_width) + var(--gutter)));
  background-repeat: no-repeat;
  border: solid transparent;
  border-width: 0 calc(var(--side_pads) - var(--gutter) / 2);
}

.icon {
  display: inline-block;
}

.main-page__link {
  display: inline-block;
  padding: 10px;
}

.nav-menu__list {
  display: flex;
}

.nav-menu__link {
  display: flex;
  padding: 10px;
}

.nav-menu__inner-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chapter {
  padding: 0 50px;
  padding: 0 var(--side_pads) 0 var(--side_pads);
}

.main-title {
  padding: 30px 0 0 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 48px;
  color: #da70d6;
}

.hr {
  line-height: 24px;
}

.info-blocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-blocks__toggle-bar {
  position: sticky;
  top: 42px;
  display: flex;
  align-self: flex-end;
}

.info-blocks__toggle {
  width: 34px;
  height: 34px;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

.info-block {
  position: relative;
  width: 850px;
  padding: 0 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.info-block .icon-pin {
  position: absolute;
  top: -10px;
  left: -15px;
  transition: all 0.3s ease 0s;
  transform: translate(-25px, -50px) scale(0.5);
}

.info-block .icon-pin._pinned {
  transition: all 0.5s ease 0s;
  transform: translate(0, 0) scale(0.5);
}

.info-block__title {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #da70d6;
  cursor: pointer;
}

.info-block__title._open {
  max-height: 300px;
}

.info-block__title._open::before, .info-block__title._open::after {
  transition: all 0.3s ease 0s;
  transform: scale(0);
}

.info-block__title._noopen {
  cursor: default;
}

.info-block__title._noopen::before, .info-block__title._noopen::after {
  transform: scale(0);
}

.info-block__title::before, .info-block__title::after {
  position: absolute;
  content: '';
  background-color: #cdcdcf;
  transition: all 0.5s ease 0s;
}

.info-block__title::before {
  top: 11px;
  left: -25px;
  width: 14px;
  height: 2px;
}

.info-block__title::after {
  top: 5px;
  left: -19px;
  width: 2px;
  height: 14px;
}

.info-block__subtitle {
  color: #ff9070;
}

.info-block__content {
  max-height: 0;
  transition: all 0.7s ease 0s;
}

.info-block__content._open {
  max-height: 2000px;
}

.info-block__inner-title {
  padding: 15px 0 5px 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #da70d6;
}

.info-block__code {
  padding: 5px 10px;
  margin: 0 35px;
  overflow-x: auto;
  color: #f5deb3;
  background-color: #272b38;
}

.info-block__text {
  color: #ff9070;
}

.info-block__text a {
  color: #ff9070;
  text-decoration: underline;
}

.info-block__note {
  padding: 0 0 0 5px;
  color: #77a099;
}

.info-block__note a {
  color: #77a099;
  text-decoration: underline;
}

.info-block__references {
  display: flex;
}

.info-block__link {
  display: inline-block;
  padding: 5px 10px;
}

.tag {
  position: relative;
}

.tag__container {
  display: flex;
  align-items: center;
}

.tag__name {
  display: flex;
  align-items: center;
  min-width: 125px;
  padding: 5px 10px;
  color: #f5deb3;
}

.tag__description {
  padding: 5px 10px;
  color: #77a099;
}

.attribute {
  position: relative;
}

.attribute__container {
  display: flex;
  align-items: center;
}

.attribute__name {
  display: flex;
  align-items: center;
  min-width: 160px;
  padding: 5px 10px;
  color: #f5deb3;
}

.attribute__description {
  padding: 5px 10px;
  color: #77a099;
}

.example-button {
  position: relative;
  min-width: 35px;
  height: 34px;
}

.example-button._checked::before, .example-button._checked::after {
  transition: all 0.3s ease 0s;
  transform: rotate(45deg);
}

.example-button:hover::before, .example-button:hover::after, .example-button:focus::before, .example-button:focus::after {
  background-color: #ffffff;
  transition: all 0.15s ease 0s;
}

.example-button:active::before, .example-button:active::after {
  background-color: #cdcdcf;
}

.example-button::before, .example-button::after {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  content: '';
  background-color: #cdcdcf;
  transition: all 0.5s ease 0s;
}

.example-button::before {
  top: 16px;
  left: 10px;
  width: 14px;
  height: 2px;
}

.example-button::after {
  top: 10px;
  left: 16px;
  width: 2px;
  height: 14px;
}

.example-block {
  max-height: 0;
  margin: 0 0 0 35px;
  overflow-x: auto;
  color: #f5deb3;
  background-color: #272b38;
}

.example-block._open {
  max-height: 1500px;
}
